version: '3.8'

services:
  app:
    build: .
    container_name: tst_nafa_books
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - DB_TYPE=sqlite
      - DB_PATH=./data/database.sqlite
      - API_KEY=${API_KEY}
    volumes:
      - ./data:/app/data
    deploy:
      resources:
        limits:
          memory: 128M 